html
{
    font-family: 'VT323', monospace;
    background-color: rgb(43, 80, 201);
    color: rgb(0, 0, 0);
}

h1
{
    margin-left: 10vw;
    margin-top: 10vh;
}

audio
{
    background-color: rgb(43, 80, 201);
    border-radius: 0px;
}

