html
{
    font-family: 'VT323', monospace;
    background-color: rgb(43, 80, 201);
    overflow: hidden;
}

a:link, a:visited
{
    text-decoration: none;
    color: black;;
}

h1
{
    text-align: center;
    margin-top: 45vh;
    margin-bottom: 0;
    font-size: 7rem;

    transition: margin 1s;
}

h2
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5vh;
    font-size: 3rem;
}


#menu
{   
    text-align: center;
    display: flexbox;
    font-size: 0;
    justify-content: center;

    transition: font-size 1s;
}

a
{
    transition: background-color 0.5s, color 0.5s;
}

a:hover
{
    background-color: black;
    color: rgb(43, 80, 201);
}

#contactBar
{
    text-align: center;
    display: flexbox;
    justify-content: center;
    font-size: 0;

    transition: font-size 1s;
}